/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_con {
  display: flex;
  justify-content: space-evenly;
}

nav {
  font-size: 14px;
  padding: 15px;
  background-color: #1A1A25;
}
nav a {
  color: #858FA4;
  text-decoration: none;
  margin-right: 20px;
}
nav button {
  background-color: #384255;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
nav button:active {
  background-color: #858FA4;
}
nav .nav_l {
  gap: 40px;
}
nav .nav_r {
  gap: 25px;
}
nav .nav_l_diller, nav .login, nav .nav_r, nav .nav_l {
  display: flex;
  align-items: center;
}
nav #msk {
  width: 50px;
  background-color: transparent;
  color: #858FA4;
  border: none;
}
nav .nav_l_call {
  color: #F53B49;
}
nav .login a, nav .nav_tel {
  color: white;
}
nav .login img {
  color: #858FA4;
}
nav .regions #regions {
  border: none;
  background-color: transparent;
  color: #858FA4;
}
nav .nav_l_tel,.dlya_doma {
  display: flex;
}
nav .login #login {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav_bottom, .katalog, .katalog_button, .nav_bottom_menu, .nav_bottom_icons, .nav_bottom_l {
  display: flex;
  align-items: center;
}

.nav_bottom, .nav_bottom_icons {
  justify-content: space-evenly;
}

.katalog {
  gap: 50px;
}

.katalog_button {
  gap: 5px;
  background-color: #F53B49;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav_bottom_menu a {
  color: white;
  text-decoration: none;
}

.nav_bottom_icons {
  gap: 15px;
}

.nav_bottom_l, .nav_bottom_menu {
  gap: 25px;
}

#likes:active {
  color: red;
}

.header {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.dlya_doma {
  background: #2A2C38;
  align-items: center;
  justify-content:start;
  padding: 10px 250px;
  gap: 10px;
}
#dlya_doma,#dlya_fitnes{
  border: none;
  background: transparent;
}
.ads_con{
  .ads_red_text{
    font-size: 24px;
  }
  padding-top: 40px;
  padding-left: 150px;
  margin: 50px;
  display: flex;
  background: #E9EAEF;
  .ads_text{
    width: 200px;
    display: flex;
    margin: 20px;
    flex-flow: column wrap;
    color: black;
    .ads_red_text{
      color: #F53B49;
      
    }
    .ads_big_text{
      font-weight: 350;
    }
    #ads_button_more{
      margin: 20px;
      border: #F53B49 solid 1px;
      color: red;
      border-radius: 5%;
      background: transparent;
    }
  }
  .ads_image{
    width: 648px;
    height: 500px;
    color: #DEDFE7;
    position: relative;
    background: #DEDFE7;
    top: -30px;
    left: 300px;
  }
  .ads_red_ugl{
    width: 100px;
    position: relative;
    top: 410px;
    left: -800px;
    z-index: 1;
    filter: opacity(90%);
    color: #F53B49;
  }
  .ads_blood_text{
    width: 350px;
  }
  .buttons_two{
    width: 300px;
    height: 100px;
    display: flex;
    gap: 20px;
    position: relative;
    top: 350px;
    right: -395px;
  
   } .ads_buddon{
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background: white;
  
  }

}
.c_banner{
  padding: 25px 75px;
  color: #1A1A25;
  h2{
    margin: 0px 100px;
  }
}
.product_container{
  background: #2A2C38;
  width: 300px; 
  border-radius: 2%;
  color: white;
  height: 510px;
  box-shadow: inset red;
  box-shadow: #1A1A25;
  overflow: hidden;
  position: relative;
  right: -100px;
}
.product_img{
  display: flex;
  position: relative;
  top: 0px;
  left: -50px;
  width: 350px;
}.product2_img{
display: flex;
position: relative;
top: -200px;
width: 320px;
height: 800px;
overflow: hidden;
left: -20px;
}.product_text{
  width: 50px;
  z-index: 1;
  color: #000000;
  position: relative;
  right: 80px;
}
.product_text2{
  width: 50px;
  z-index: 1;
  color: #ffffff;
  position: relative;
  right: 80px;
}

.products{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  position: relative;

}.octance{
  position: relative;
  align-items: center;
  right: -250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.product_text_s{
  z-index: 1;
  width: 50px;
  position: relative;
  right: 180px;
  top: -20px;
}
.product2_img_s{
  position: relative;
  top: -70px;
  right: 20px;
}
