/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_con {
  display: flex;
  justify-content: space-evenly;
}

nav {
  font-size: 14px;
  padding: 15px;
  background-color: #1A1A25;
}
nav a {
  color: #858FA4;
  text-decoration: none;
  margin-right: 20px;
}
nav button {
  background-color: #384255;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
nav button:active {
  background-color: #858FA4;
}
nav .nav_l {
  gap: 40px;
}
nav .nav_r {
  gap: 25px;
}
nav .nav_l_diller, nav .login, nav .nav_r, nav .nav_l {
  display: flex;
  align-items: center;
}
nav #msk {
  width: 50px;
  background-color: transparent;
  color: #858FA4;
  border: none;
}
nav .nav_l_call {
  color: #F53B49;
}
nav .login a, nav .nav_tel {
  color: white;
}
nav .login img {
  color: #858FA4;
}
nav .regions #regions {
  border: none;
  background-color: transparent;
  color: #858FA4;
}
nav .nav_l_tel,.dlya_doma {
  display: flex;
}
nav .login #login {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav_bottom, .katalog, .katalog_button, .nav_bottom_menu, .nav_bottom_icons, .nav_bottom_l {
  display: flex;
  align-items: center;
}

.nav_bottom, .nav_bottom_icons {
  justify-content: space-evenly;
}

.katalog {
  gap: 50px;
}

.katalog_button {
  gap: 5px;
  background-color: #F53B49;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav_bottom_menu a {
  color: white;
  text-decoration: none;
}

.nav_bottom_icons {
  gap: 15px;
}

.nav_bottom_l, .nav_bottom_menu {
  gap: 25px;
}

#likes:active {
  color: red;
}

.header {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.dlya_doma {
  background: #2A2C38;
  align-items: center;
  justify-content:start;
  padding: 10px 250px;
  gap: 10px;
}
#dlya_doma,#dlya_fitnes{
  border: none;
  background: transparent;
}
.ads_con{
  .ads_red_text{
    font-size: 24px;
  }
  padding-top: 40px;
  padding-left: 150px;
  margin: 50px;
  display: flex;
  background: #E9EAEF;
  .ads_text{
    width: 200px;
    display: flex;
    margin: 20px;
    flex-flow: column wrap;
    color: black;
    .ads_red_text{
      color: #F53B49;
      
    }
    .ads_big_text{
      font-weight: 350;
    }
    #ads_button_more{
      margin: 20px;
      border: #F53B49 solid 1px;
      color: red;
      border-radius: 5%;
      background: transparent;
    }
  }
  .ads_image{
    width: 648px;
    height: 500px;
    color: #DEDFE7;
    position: relative;
    background: #DEDFE7;
    top: -30px;
    left: 300px;
  }
  .ads_red_ugl{
    width: 100px;
    position: relative;
    top: 410px;
    left: -800px;
    z-index: 1;
    filter: opacity(90%);
    color: #F53B49;
  }
  .ads_blood_text{
    width: 350px;
  }
  .buttons_two{
    width: 300px;
    height: 100px;
    display: flex;
    gap: 20px;
    position: relative;
    top: 350px;
    right: -395px;
  
   } .ads_buddon{
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background: white;
  
  }

}
.c_banner{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  left: -100px;
  justify-content: center;
  
  padding: 25px 75px;
  color: #1A1A25;
  h2{
    margin: 0px 100px;
  }
  b{
    display: flex;
    position: relative;
    left: -400px;
    font-weight: bold;
    font-size: 32px;
  }
}
.product_container{
  background: #2A2C38;
  width: 300px; 
  border-radius: 2%;
  color: white;
  height: 510px;
  box-shadow: inset red;
  box-shadow: #1A1A25;
  overflow: hidden;
  position: relative;
  right: -10px;
}
.product_img{
  display: flex;
  position: relative;
  top: 0px;
  left: -50px;
  width: 350px;
}.product2_img{
display: flex;
position: relative;
top: -200px;
width: 320px;
height: 800px;
overflow: hidden;
left: -20px;
}.product_text{
  width: 50px;
  z-index: 1;
  color: #000000;
  position: relative;
  right: 80px;
}
.product_text2{
  width: 50px;
  z-index: 1;
  color: #ffffff;
  position: relative;
  right: 80px;
}

.products{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  position: relative;

}.octance{
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  right: -250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.product_text_s{
  z-index: 1;
  width: 50px;
  position: relative;
  right: 180px;
  top: -20px;
}
.product2_img_s{
  position: relative;
  top: -70px;
  right: 20px;
}.St{
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  justify-content: space-evenly;
 
}
.srI{
  display: flex;
  padding: 25px 30px;
  align-items: center;
  position: relative;
  background: #a8a8be;
  left: 120px;
 }.srT{
  position: relative;
  left: 120px;
  z-index: 1;
 }
 .PB{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
 } 
 
 .PC{
  .yug{
    background: #a8a8be;
    margin-right: 10px;
  }
  #imgPB{
    padding: 40px;
  }
  .row1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    .srC{
      background: #a8a8be;
    }
    .srI2{
      width: 300px;
      height: 284px;
    }

  .srT2{
      position: relative;
      width: 280px;
  }
  .srC2{
    background: #a8a8be;
    padding: 20px;
  }
  }
  .row2{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    .srC2{
      background: #a8a8be;
    }
    .srI2{
      display: flex;
      width: 300px;
    }
  }
.srC2:active,.srI2:active,#imgPB:active,.yug:active{
  color: #000000;
  background: none;
  z-index: 1;
  filter: blur(5px);
}
}
.srC2:hover,.srI2:hover,#imgPB:hover,.yug:hover{
  animation: Bord 0.6s infinite;
  border: double;
}
@keyframes Bord {
 0%{
  border-color: #F53B49;
  transition: 0.2s ease;
 }
 50%{
  border-color: greenyellow;
  transition: 0.2s ease;
 }
 100%{
  border-color: blue;
  transition: 0.2s ease;
 }
}
.conAksiya{
  display: flex;
  flex-wrap: wrap;
  
}.A_Text{
    margin: 5px 25px;
    color: #000000;
  }
  .A_C{
    background: #ffffff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    margin: 50px;
  
    .bottom_PA{
    padding: 15px;
    display: flex;
    align-items: end;
    justify-content: space-between;
  }
    .price_a{
    color: #000000;

  }
    .lines{
    color: #858FA4;
    text-decoration: line-through;
  }
    .reting_a{
    display: flex;
    align-items: center;
  }
    .reyting{
      padding: 10px;
    color: #7a7f9a;
    font-size: 14px;
  }
    .s35{
    margin: 20px;
    color: #000000;
    width: 220px;
  }
    .icons_a{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
  }
    .info_a{
      .show{
        color: rgb(73, 104, 255);
        font-size: 15px;
      }
  .a_N {
    margin: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
  .nalichi {
    color: lightgreen;
    font-size: 20px;
    
  }}}}
  .acsiya {
    .see{
      margin: 25px;
      border: #F53B49 solid;
      color: #F53B49;
      background: none;
    }
    .a_add_cart button{
    display: flex;
    align-items: center;
    gap: 4px;
    background: #F53B49;
  }
  .text_a{
    display: flex;
    align-items: center;
    gap: 25px;
    a{
      color: #858FA4;
    }
  }

}.A_C:active{
  filter: blur(5px);
  background: #dcdce4;
  box-shadow: inset;
}
.idei_Container{
  background: #1A1A25;
  .max14{
    text-align: center;
    color: #d3d3e0;
  }
  .max143{
    text-align: center;
    padding: 10px;
    color: #000000;
    font-size: 17px;
  }
  .max_text{
    width: 260px;
  }
  .max_C{

    margin: 25px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    width: 700px;
    background: #F53B49;
    .max_text{
      padding: 20px;
    }
    .maxtext{
      display: flex;
      flex-flow: column wrap;
    
    }
    .maxmin{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.max_C:hover{
  width: 1000px;
  justify-content: space-between;
  box-shadow: #000000;
}
.idei{
  padding: 25px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
.ideimax{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.mig1:hover{
  background: #E9EAEF;
  width: 800px;
  align-items: center;
  justify-content: space-between;
  box-shadow: #000000;
}
}
.brendi-container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.brendi-container:active{
  filter: brightness(0.5);
  color: white;
}
.pomosh-container{
  display: flex;
  padding: 25px;
  justify-content: center;
  .pomosh-images-leist{
    display: flex;
    justify-content: center;
    transition: 0.5ms ease;

  }
  .pomosh-image:hover{
    transform: scale(1.1);
    transform-origin: bottom;
    transition: 0.5ms ease;
  }
}